@tailwind base;
@tailwind components;
@tailwind utilities;

/* Increase hit areas for clickable elements */
a, button, [role="button"], [role="link"], input[type="submit"], .cursor-pointer {
  position: relative;
  padding: 0.5rem;
  margin: -0.5rem;
}

/* Prevent padding from affecting layout */
a:not(:last-child), button:not(:last-child), [role="button"]:not(:last-child), [role="link"]:not(:last-child), input[type="submit"]:not(:last-child), .cursor-pointer:not(:last-child) {
  margin-right: 0.5rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[class~="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@keyframes rainbow-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rainbow-border {
  animation: rainbow-border 4s linear infinite;
}
